/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

/* Container */
div.code {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
/* Navbar Styling */
nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  background-color: #333;
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  padding: 10px;
  color: white;
  font-weight: bold;
}

nav ul li a:hover {
  color: #f4f4f4;
  background-color: #555;
}

.fa-bars {
  display: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}
/* Section Styling */
section {
  margin: 40px 0;
  padding: 20px;
}

section h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

#About p,
#Work p,
#Contact p {
  margin-bottom: 20px;
}

#About img {
  width: 40%;
  height: auto;
  border-radius: 100%;
  display: block;
  margin: 10px auto;
}
/* Form Styling */
form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 20px auto;
}

form input,
form textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form button {
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #555;
}
i.fa-js {
  font-size: 25px;
  color: rgb(230, 230, 22);
  text-emphasis-color: black;
}
i.fa-css3 {
  font-size: 25px;
  color: lightblue;
  text-decoration: none;
}
i.fa-html5 {
  font-size: 250x;
  color: rgb(160, 21, 21);
}
i.fa-react {
  font-size: 25px;
  color: lightblue;
}
i.fa-whatsapp {
  font-size: 38px;
  color: rgb(19, 167, 19);
}
i.fa-linkedin {
  font-size: 38px;
  color: blue;
}
i.fa-instagram {
  font-size: 38px;
  color: rgba(255, 192, 203, 0.442);
}
i.fa-square-x-twitter {
  font-size: 38px;
}
/* Footer */
footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

footer ul li {
  margin: 0 10px;
}

footer ul li a {
  color: white;
}

footer ul li a:hover {
  color: #f4f4f4;
}
/* Mobile Menu Toggle */
@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    text-align: center;
  }

  nav ul.show {
    display: flex;
  }

  .fa-bars {
    display: block;
    margin-left: auto;
  }
}

@media (max-width: 768px) {
  section {
    padding: 20px 10px;
  }

  section img {
    width: 120px;
  }

  form {
    max-width: 100%;
  }
}
