body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(83, 71, 71);
  padding: 0;
  margin: 0;
}

header {
  background-color: grey;
  background-image: url(images/suzy.mp4);
  background-size: 100%;
  background-position: center;
  text-align: center;
  height: 100px;
}
li {
  display: inline;
  padding: 20px;
  margin: 10px;
}
li a {
  color: black;
  text-decoration: none;
}
li a:hover {
  color: white;
}
img {
  border-radius: 100px;
  font-size: 50px;
  max-width: 100px;
  height: auto;
  padding: 30px;
}
h2 {
  padding: 10px;
  margin: 10px;
  text-transform: uppercase;
  color: grey;
}
#container {
  display: flex;
  float: right;
  padding: 10px;
  margin: 2px;
}

div.code {
  font-size: 25px;
  margin: 60px;
  padding: 0;
}
b {
  font-size: 10px;
}
i.fa-js {
  font-size: 46px;
  color: rgb(230, 230, 22);
  text-emphasis-color: black;
}
i.fa-css3 {
  font-size: 46px;
  color: lightblue;
  text-decoration: none;
}
i.fa-html5 {
  font-size: 46px;
  color: rgb(160, 21, 21);
}
i.fa-react {
  font-size: 46px;
  color: lightblue;
}
i.fa-whatsapp {
  font-size: 40px;
  color: rgb(19, 167, 19);
}
i.fa-linkedin {
  font-size: 40px;
  color: blue;
}
i.fa-instagram {
  font-size: 40px;
  color: rgb(255, 192, 203);
}

footer {
  background-color: rgb(79, 79, 85);
  padding: 10px;
  margin: 5px;
}
button {
  background-color: white;
  color: blue;
  text-align: center;
  padding: 10px 10px;
  border: 0;
  cursor: pointer;
  box-shadow: 10px 10px lightblue;
}
