* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  margin: 20px;
  text-align: center;
}
p {
  text-align: center;
}
section.centre {
  font-size: 23px;
  margin: 60px;
  padding: 0;
}
div.number {
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
}
#container {
  margin-top: 0px;
  display: flex;
  padding: 10px 450px;
  max-width: 80%;
  margin-left: 0px;
  margin-right: 0px;
  color: white;
  margin: auto;
}
form button {
  cursor: pointer;
}
button {
  padding-right: 30px;
  padding-left: 30px;
  max-width: 60%;
  margin: 10px 0;
  margin-left: 15px;
  margin-top: 10px;
}
button#withdraw button:hover {
  background-color: white;
}
button#deposit button:hover {
  background-color: blue;
}
div.transaction {
  align-items: center;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 20px;
  margin: auto;
  max-width: 60%;
}
